<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Shopping Cart</h1>
    <ul>
      <% shoppingCart.forEach((item, index) => { %>
      <li>
        <%= item.name %> - $<%= item.price %>
        <form
          action="/remove/<%= index %>"
          method="GET"
          style="display: inline"
        >
          <button type="submit">Remove</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <a href="/add">Add Item</a>
  </body>
</html>
